# --extra-index-url https://us-python.pkg.dev/ml-oss-artifacts-published/jax/simple/
# --find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html
# --pre

tpu-inference @ git+https://github.com/vllm-project/tpu-inference.git@8d30921e602b01652ebe204c2d328251bfa2aff5
maxtext @ git+https://github.com/AI-Hypercomputer/maxtext.git@b5fff623c8a91ec5df3421d017b2b80613a96677
maxtext-vllm-adapter @ git+https://github.com/AI-Hypercomputer/maxtext.git@b5fff623c8a91ec5df3421d017b2b80613a96677#subdirectory=src/maxtext/integration/vllm

